<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js"></script>
    <!--    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>-->
</head>
<body>
<div id="box">
    <!--    计算属性做动态过滤-->
    <input type="text" v-model="mytext">
    {{mytext}}
    <ul>
        <li v-for="data in compute2">
            {{data}}
        </li>
    </ul>
    <hr>
    <input type="number" v-model="mynumber">
    {{mynumber}}
    <hr>
    <input type="text" v-model.lazy="username">
    {{username}}
    <hr>
    <input type="text" v-model.trim="password">
    {{password}}
    <hr>
    <p>计算属性：{{compute1}}</p>
    <p>普通方法：{{func1()}}</p>
    <hr>
    <button @click="handleClick">获取结果</button>
    <ul>
        <li v-for="data in datalist">
            {{data}}
        </li>
    </ul>
    <hr>
    <!--    布尔值需动态绑定，不然看做字符串。v-show=字符串 判定为真-->
    <!--    父节点定义事件myevent=handleEvent/handleEvent($event)-->
    <navbar myname="nav1" :myshow="false" @myevent="handleEvent"></navbar>
    <navbar myname="nav2" :myshow="true" @myevent="handleEvent"></navbar>
    <navbar :myname="parentName" :myshow="false" @myevent="handleEvent"></navbar>
    <!--    组件ref-->
    <navbar ref="navbarref1"></navbar>
    <button @click="handleNavbarRef1">组件ref按钮</button>
    <hr>
    <!--    标签ref-->
    <input type="text" ref="myinput1">
    <button @click="handleMyInput1">标签ref按钮</button>

</div>
<script type="application/javascript">
    // 全局定义组件
    Vue.component("navbar", {
        template: `
        <div>
            <button @click="handleBack">返回</button>
            <button @click="payMoney">第二个按钮</button>
                Navbar -- {{myname}}
            <button v-show="myshow">主页</button>
            <navbarchild ></navbarchild>
        </div>`,
        data() {
            return {
                childName: "子组件状态"
            }
        },
        methods: {
            handleBack() {
                console.log("back")
            },
            payMoney() {
                this.$emit("myevent", this.childName) //分发事件，子传父，触发父节点事件
            }
        },
        // props: ["myname", "myshow"], //接受父传子属性
        props: {myname: String, myshow: Boolean}, //属性验证
        // 局部定义组件
        components: {
            navbarchild: {
                template: `<div @click="handleChild">navbarchild</div>`,
                methods: {
                    handleChild() {
                        console.log("Child")
                    }
                },
            }
        }
    })

    new Vue({
        el: "#box",
        data: {
            mynumber: 0,
            mytext: "",
            username: "max",
            password: "",
            datalist: ["aaa", "bbb", "cccc", "aab", "bbc"],
            parentName: "父属性",
        },
        computed: {
            // 计算属性只调用一次，缓存
            compute1() {
                return this.username.substring(0, 1).toUpperCase() + this.username.substring(1)
            },
            compute2() {
                return this.datalist.filter(item => item.indexOf(this.mytext) > -1)
            }
        },
        methods: {
            handleClick() {
                // var url="https://gc-eoca.essilorchina.com/masterdata/orders?tracking_number=323010305737&application=test"
                fetch("./order.json", {
                    method: "GET",
                    mode: "cors"
                }).then(res => res.json()).then(res => {
                    console.log(res)
                    this.datalist = res.results[0].Lines
                })
            },
            // 方法每次都会调用
            func1() {
                return this.username.substring(0, 1).toUpperCase() + this.username.substring(1)
            },
            // 父节点事件
            handleEvent(ev) {
                console.log("收到钱了", ev)
            },
            // ref放在标签上，子传父
            handleMyInput1() {
                console.log(this.$refs.myinput1.value)
            },
            // ref放在组件上，子传父
            handleNavbarRef1() {
                // 查看子属性
                console.log(this.$refs.navbarref1.childName)
                // 调用子方法
                this.$refs.navbarref1.handleBack()
            }
        }
    })
</script>
</body>
</html>